$font-family: 'Montserrat', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
$width: 1440px;   
// ex: width:$width;

// @mixin  >  @include (name;)
// $mixedcolor: ;

// >
// linear-gradient (to ... red , green , blue);

// &:hover  (bitta tepa kodga tasir qiladi)
@mixin flexbox{
    display: flex;

}
@mixin text{
    text-decoration: none;
    list-style: none;
}
@mixin button {
    height: 48px;
    border-radius: 37px;
    font-family: 'Montserrat-Bold',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 200% */
  
    text-align: center;
    letter-spacing: 0.2px;
  
    /* secondary-color-1 */
  
    color: #00A0C1;
  }
  
  /********Header Style Start**********/
  
  body{
    max-width: 1440px;
  
    /********Navbar Mobile***********/
  
    .d-lg-none{
      @media (min-width: 0) and (max-width: 767px){
        padding: 36px 39px 0 36px;
  
        .navbar-brand{
          font-family: 'Montserrat-Bold',sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 32px;
          /* identical to box height, or 133% */
  
          letter-spacing: 0.1px;
  
          /* text-color */
  
          color: #252B42;
  
        }
  
        .navbar__icons{
          margin-left: auto;
          margin-right: 33px;
          display: flex;
          gap: 24px;
        }
  
        .navbar-nav{
          li{
            text-align: center;
  
            a{
              font-family: 'Montserrat-Regular',sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 30px;
              line-height: 45px;
              /* identical to box height, or 150% */
  
              text-align: center;
              letter-spacing: 0.2px;
  
              /* second-text-color */
  
              color: #737373;
              margin-bottom: 30px;
            }
          }
        }
      }
    }
  
    header{
      background-image: url("./imgs/cover (5).png");
      background-size: 100%;
      height: 793px;
      background-repeat: no-repeat;
  
      @media (min-width: 0) and (max-width: 767px){
        background-image: url("./imgs/covermb.png");
        background-size: 100%;
        height: 1494px;
        background-repeat: no-repeat;
      }
  
      .navbar{
        padding: 36px 59.57px 0 195px;
  
        @media (min-width: 0) and (max-width: 767px){
          display: none;
        }
  
  
        .navbar-brand{
          font-family: 'Montserrat-Bold',sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 32px;
          /* identical to box height, or 133% */
  
          letter-spacing: 0.1px;
  
          /* text-color */
  
          color: #252B42;
        }
  
        .navbar-nav{
          margin-left: 104px;
  
          a{
            font-family: 'Montserrat-SemiBold',sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            /* identical to box height, or 171% */
  
            text-align: center;
            letter-spacing: 0.2px;
  
            /* second-text-color */
  
            color: #737373;
  
            margin-right: 13px;
  
          }
        }
  
        .btn__burger{
          display: block;
          margin-left: auto;
        }
      }
  
      h1{
  
        @media (min-width: 0) and (max-width: 767px){
          font-family: 'Montserrat-Bold',sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 40px;
          line-height: 57px;
          /* or 142% */
  
          text-align: center;
          letter-spacing: 0.2px;
  
          /* text-color */
          color: #252B42;
        padding: 0;
        padding-top: 84px;
      }
      padding: 116px 0 0 197px;
      font-family: 'Montserrat-ExtraBold',sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 58px;
      line-height: 80px;
      /* or 138% */

      letter-spacing: 0.2px;

      /* text-color */

      color: #252B42;
    }
    .header__content{
      padding-left: 197px;

      @media (min-width: 0) and (max-width: 767px){
        padding: 0;
      }

      p{
        @media (min-width: 0) and (max-width: 767px){
          font-size: 20px;
          line-height: 30px;
          /* or 150% */

          text-align: center;
          letter-spacing: 0.2px;
          font-weight: 500;
        }
        font-family: 'Montserrat-Medium',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        /* or 150% */

        letter-spacing: 0.2px;

        /* second-text-color */

        color: #737373;
        margin-top: 35px;

      }

      .content-buttons{
        margin-top: 35px;

        @media (min-width: 0) and (max-width: 767px){
          margin-top: 40px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 25px;
        }

        .btn__yellow{
          width: 185px;
          height: 48px;

          /* primary-color */

          background: #FFA62B;
          border-radius: 37px;

          @include button;
          color: white;
          border: 0;
        }

        .btn__outline{
          padding-left: 36px;
          padding-right: 36px;
          height: 48px;
          @include button;

          border: 1px solid #00A0C1;
          background: transparent;
        }
      }
    }

    .header__cards{
       
      position: absolute;
      top: 602px;
      left: 197px;

      @media (min-width: 0) and (max-width: 767px){

      }

      .card{
        width: 328px;
        height: 210px;
        transform: 575ms;
        transition: 575ms;

        background: #FFFFFF;
        /* SHADOW */

        box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
        border: 0!important;

        @media (min-width: 0) and (max-width: 767px){
          margin-top: 30px;

        }

        &:hover{
          background: #00A0C1;
        }

        &:hover .card-body h3{
          color: white;
        }

        &:hover .card-body p{
          color: white;
        }

        &:hover .card-body img:nth-child(1){
          display: none;
        }

        .card-body{
          padding: 39.08px 0 0 40.34px;

          h3{
            font-family: 'Montserrat-Bold',sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            /* identical to box height, or 133% */

            letter-spacing: 0.1px;

            /* text-color */

            color: #252B42;
            margin-top: 13px;
          }

          p{
            font-family: 'Montserrat-Medium',sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            /* or 143% */

            letter-spacing: 0.2px;

            /* second-text-color */

            color: #737373;
            margin-top: 2px;

          }


        }
      }
    }
    position: relative;
    
  }
  main{
    padding-top: 211px;
    @media (min-width: 0) and (max-width: 767px){
      padding-top: 98px;
      background: #F3F3F3;
    }
    .header__why{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h2{
        @media (min-width: 0) and (max-width: 767px) {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 700;
          font-size: 40px;
          line-height: 57px;
          /* or 142% */
          width: 252px;
          height: 114px;


          text-align: center;
          letter-spacing: 0.2px;

          /* text-color */

          color: #252B42;
        }

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 57px;
        /* identical to box height, or 142% */

        letter-spacing: 0.2px;

        /* text-color */

        color: #252B42;
        margin: 0;
      }
      p{
        @media (min-width: 0) and (max-width: 767px){
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          /* or 143% */
          width: 225px;
          height: 80px;
          text-align: center;
          letter-spacing: 0.2px;

          /* second-text-color */

          color: #737373;

        }
        width: 511px;
        height: 40px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        /* or 143% */

        text-align: center;
        letter-spacing: 0.2px;

        /* second-text-color */

        color: #737373;
        margin: 0;
        margin-top: 10px;
      }
    }
    .header__result{
      @media (min-width: 0) and (max-width: 767px){
        margin-top: 75px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        padding-right: 86.5px;
        padding-left: 86.5px;
      }
      display: flex;
      margin-top: 50px;
      justify-content: space-between;
      padding-right: 195.5px;
      padding-left: 195.5px;
      margin-bottom: 80px;
      .box{
        @media (min-width: 0) and (max-width: 767px){
                   
        }
        width: 241px;
        height: 209px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #FFFFFF;
        h3{
          margin: 0;
          margin-bottom: 10px;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 700;
          font-size: 40px;
          line-height: 57px;
          /* identical to box height, or 142% */

          letter-spacing: 0.2px;

          /* text-color */

          color: #252B42;
        }
        p{
          margin: 0;
          margin-top: 10px;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          /* identical to box height, or 150% */

          text-align: center;
          letter-spacing: 0.1px;

          /* second-text-color */

          color: #737373;
        }
      }
    }
    .main__name{
      padding-top: 125px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      h2{
        @media (min-width: 0) and (max-width: 767px) {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 700;
          font-size: 40px;
          line-height: 57px;
          /* or 142% */
          width: 180px;
          height: 114px;          
          text-align: center;
          letter-spacing: 0.2px;

          /* text-color */

          color: #252B42;
        }

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 57px;
        /* identical to box height, or 142% */

        letter-spacing: 0.2px;

        /* text-color */

        margin: 0;
        color: #252B42;
      }
      p{
        @media (min-width: 0) and (max-width: 767px) {
          width: 225px;
          height: 80px;

          /* paragraph */

          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          /* or 143% */

          text-align: center;
          letter-spacing: 0.2px;

          /* second-text-color */

          color: #737373;
        }
        
        margin: 0;
        margin-top: 10px;

        /* paragraph */

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        /* or 143% */

        text-align: center;
        letter-spacing: 0.2px;

        /* second-text-color */

        color: #737373;
        width: 511px;
        height: 40px;
      }
    }
    .main__slide{
      margin-bottom: 101px;
      @media (min-width: 0) and (max-width: 767px){
        display: flex;
        flex-direction: column;
        margin-top: 75px;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding-bottom: 106px;
      }

      display: flex;
      padding-left: 195.5px;
      padding-right: 195.5px;
      margin-top: 45px;
      justify-content: space-between;
      // gap: 30px;
      .uk-card{
        display: flex;
        flex-direction: column;
        // align-items: center;
        padding: 0px;
        padding-top: 30px;
        padding-left: 30px;
        width: 238px;
        height: 341px;
        
        h4{
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          /* or 150% */

          letter-spacing: 0.1px;

          /* text-color */

          color: #252B42;
          margin: 0;
          
        }
        p{
          height: 80px;
          width: 160px;
          margin: 0;
          margin-top: 15px;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          /* or 143% */

          letter-spacing: 0.2px;

          /* second-text-color */

          color: #737373;
          margin-bottom: 30px;
        }
        img{
          margin-right: 30px;
        }
      }
    }
  }
  .row{
    margin-right: 0;
  }
  section{
    padding-top: 100px;
  .section__name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h2{

      @media (min-width: 0) and (max-width: 767px){
        width: 318px;
        height: 171px;
        
        /* h2 */
        
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 57px;
        /* or 142% */
        
        text-align: center;
        letter-spacing: 0.2px;
        
        /* text-color */
        
        color: #252B42;        
      }

      width: 561px;
      height: 114px;
      margin: 0;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 57px;
      /* or 142% */

      text-align: center;
      letter-spacing: 0.2px;

      /* text-color */

      color: #252B42;

    }
    p{

      @media (min-width: 0) and (max-width: 767px){
        width: 225px;
        height: 80px;
        
        /* paragraph */
        
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        /* or 143% */
        
        text-align: center;
        letter-spacing: 0.2px;
        
        /* second-text-color */
        
        color: #737373;        
      }
      margin: 0;
      width: 511px;
      height: 40px;

      /* paragraph */

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      /* or 143% */

      text-align: center;
      letter-spacing: 0.2px;

      /* second-text-color */

      color: #737373;
      margin-top: 15px;
    }
  }
  .section__main__info{

    @media (min-width: 0) and (max-width: 767px){
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-right: 42.5px;
      padding-left: 42.5px;
    }
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    padding-right: 192px;
    padding-left: 195px;
    margin-top: 100px;
    gap: 120px;
    .main__video{
      img{
        @media (min-width: 0) and (max-width: 767px) {
          width: 343px;
          height: 442px;
        }
      }
      button{
        @media (min-width: 0) and (max-width: 767px){
          left: 340px;
        }
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 34.8px 36.8px;
        border: none;
        position: absolute;
        width: 97.6px;
        height: 98.4px;
        left: calc(50% - 97.6px/2 + 0.3px);
        top: calc(50% - 98.4px/2 + 0.2px);
        left: 450px;
        top: 175px;
        /* secondary-color-1 */

        background: #00A0C1;
        border-radius: 73.6px;
      }
    }
    position: relative;
    .main__video__info{
      display: flex;
      flex-direction: column;
      width: 333px;
      height: 438px;
      h3{
        margin: 0;
        width: 324px;
        height: 114px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 57px;
        /* or 142% */
        
        letter-spacing: 0.2px;
        
        /* text-color */
        
        color: #252B42;
      }
      p{
        margin: 0;
        width: 330px;
        height: 60px;
        
        /* paragraph */
        
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        /* or 143% */
        
        letter-spacing: 0.2px;
        
        /* second-text-color */
        
        color: #737373;        
        margin-top: 10px;
      }
      .main__lazydog{
        display: flex;
        // flex-wrap: wrap;
        
       
        h5{
          // width: 286px;
          // height: 48px;
          margin: 0;
          margin-top: 50px;
          margin-left: 20px;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          /* or 150% */
          
          letter-spacing: 0.1px;
          
          /* text-color */
          
          color: #252B42;   
          
          span{
            margin: 0;
            margin-top: 5px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            /* identical to box height, or 171% */
            
            letter-spacing: 0.2px;
            
            /* second-text-color */
            
            color: #737373;                
          }       
        }
        
      }
      .main__lazydog1{
        display: flex;
        h5{
          @media (min-width: 0) and (max-width: 767px){
            margin-top: 55px;
            margin-bottom: 15px;
          }
          // width: 286px;
          // height: 48px;
          margin: 0;
          margin-top: 70px;
          margin-left: 20px;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          /* or 150% */
          
          letter-spacing: 0.1px;
          
          /* text-color */
          
          color: #252B42;   
          
          span{
            margin: 0;
            margin-top: 5px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            /* identical to box height, or 171% */
            
            letter-spacing: 0.2px;
            
            /* second-text-color */
            
            color: #737373;                
          }       
        }
      }
      
    }
  }
  }
  .section__icons{
    @media (min-width: 0) and (max-width: 767px){
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 60px;
      padding-right: 131px;
      padding-left: 130px;
      padding-bottom: 35px;
    }
    display: flex;
    padding-right: 195px;
    padding-left: 195px;
    padding-top: 65px;
    padding-bottom: 152px;
    gap: 30px;
    img{
      @media (min-width: 0) and (max-width: 767px) {
        width: 151px;
        height: 142px;
      }
      width: 152px;
      height: 85px;
      
    }
  }
  .section__black{
    @media (min-width: 0) and (max-width: 767px){
      display: none;
    }
    padding-left: 227px;
    padding-right: 227px;
    height: 77px;
    width: 100%;
    background: #252B42;
    position: relative;
    
  }
  .section__inpt{
    
    @media (min-width: 0) and (max-width: 767px){
      display: block;
    }

  .section__input{
    display: flex;
    justify-content: space-between;
    @media (min-width: 0) and (max-width: 767px){
      padding: 30px 38.5px;
      border-radius: 2px;
      top: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      // left: -200px;
      width: 580px;
      height: 212px;
      left: 13%;
    }
    left: 227px;
    position: absolute;
    display: flex;    
    bottom: 20px;
    width: 986px;
    height: 124px;
    background: #16697A;
    border-radius: 2px;    
   padding: 30px 50px 30px 50px;        
    h5{
      @media (min-width: 0) and (max-width: 767px){
        margin-right: 0;
        width: 258px;
        height: 64px;
        
        /* h3 */
        
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        /* or 133% */
        
        text-align: center;
        letter-spacing: 0.1px;
        
        /* light-text-color */
        
        color: #FFFFFF;        
      }
      width: 260px;
      height: 64px;
      margin: 0;
      margin-right: 180px;
      /* h3 */
      
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      /* or 133% */
      
      letter-spacing: 0.1px;
      
      /* light-text-color */
      
      color: #FFFFFF;        
    }
    .input__sect{
      display: flex;
      justify-content: end;
      width: 450px;
      @media (min-width: 0) and (max-width: 767px){
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
      }
    }
    input{
      @media (min-width: 0) and (max-width: 767px){
        display: inline;
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      width: 100%;
      background: #F9F9F9;
      border: 1px solid #E6E6E6;
      border-radius: 5px;
      padding-left: 20px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    button{
      @media (min-width: 0) and (max-width: 767px){
       display: flex;
       justify-content: end;
       width: 117px;
       height: 58px;
      }
      background: #FFA62B;
      border: 1px solid #E6E6E6;
      border-radius: 0px 5px 5px 0px;
      padding: 15px 22.5px 15px 22.5px;
      a{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        /* identical to box height, or 200% */
        
        text-align: center;
        letter-spacing: 0.2px;
        
        /* light-text-color */
        
        color: #FFFFFF;
        
      }
    }
  }
  position: relative;
}
.section____bg{
  background: #F3F3F3;
  padding-top: 80px;
  .section__get{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3{
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 57px;
      /* identical to box height, or 142% */
      
      letter-spacing: 0.2px;
      
      /* text-color */
      
      color: #252B42;     
      margin: 0; 
    }
    p{
      @media (min-width: 0) and (max-width: 767px){
        width: 250px;
        height: 80px;
        
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        /* or 143% */
        
        text-align: center;
        letter-spacing: 0.2px;
        
        /* second-text-color */
        
        color: #737373;        
      }
      margin: 0;
      width: 470px;
      height: 40px;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      /* or 143% */
      
      text-align: center;
      letter-spacing: 0.2px;
      
      /* second-text-color */
      
      color: #737373;
      margin-top: 10px;
    }
  }
  .section__boxes{
    @media (min-width: 0) and (max-width: 767px){
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      margin-top: 60px;
      padding-left: 0px;
      padding-bottom: 130px;
    }
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 110px;
    padding-left: 227.5px;
    padding-bottom: 178px;
    .box{
      width: 329px;
      height: 333px;
      background: white;
      padding: 50px 40px 50px 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      &:hover{
        width: 329px;
        height: 393px;
        background: #252B42;
        transition: 859ms;                
        padding: 80px 40px 80px 40px;
        border-radius: 23px;
      }
      &:hover .white__img{
        display: block;
      }
      &:hover img{
        display: none;
      }
      &:hover p a {
        color: aliceblue;
      }
      &:hover h5{
        color: aliceblue;
      }
      &:hover button{
        background: transparent;
        border-color: aliceblue;
        a{
          color: aliceblue;
        }
      }
      img{
       
      }
      .white__img{
        display: none;
       
      }
      p{
        margin: 0;
        margin-top: 15px;
        
        a{
          margin: 0;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 24px;
          /* identical to box height, or 171% */
          
          text-align: center;
          letter-spacing: 0.2px;
          
          /* text-color */
          
          color: #252B42;          
        }
      }
      .p2{
        margin: 0;
      }
      h5{
        margin: 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */
        
        text-align: center;
        letter-spacing: 0.1px;
        
        /* text-color */
        
        color: #252B42;        
        margin-top: 15px;
      }
      button{
        margin: 0;
       padding: 10px 20px 10px 20px;
        
        /* primary-color */
        background: transparent;
        border: 1px solid #FFA62B;
        border-radius: 5px;
        margin-top: 15px;
        a{
          margin: 0;
          text-decoration: none;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 24px;
          /* identical to box height, or 171% */
          
          text-align: center;
          letter-spacing: 0.2px;
          
          /* primary-color */
          
          color: #FFA62B;
          
        }        
      }
    }
  }
}
footer{
  .footer__header{

    @media (min-width: 0) and (max-width: 767px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 435px;
      height: 302px;
      padding-right: 31px;
      padding-left: 31px;
      margin: 0 auto;
    }

    background: #FAFAFA;
    height: 142px;
    display: flex;
    justify-content: space-between;
    padding: 40px 195px;
    .footer__header__left{
      gap: 10px;
      h5{
        @media (min-width: 0) and (max-width: 767px){
          width: 250px;
          height: 64px;
          margin: 0;
        }
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        /* identical to box height, or 133% */
        
        letter-spacing: 0.1px;
        
        /* text-color */
        
        color: #252B42;        
      }
      p{
        @media (min-width: 0) and (max-width: 767px){
          width: 184px;
          height: 40px;
          margin: 0;
          margin-top: 10px;
        }
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 143% */
        
        letter-spacing: 0.2px;
        
        /* second-text-color */
        
        color: #737373;
        
      }
    }
    .footer__header__right{
      button{
        @media (min-width: 0) and (max-width: 767px){
          margin-top: 50px;
          margin-right: 90px;
        }
        background: #FFA62B;
        border-radius: 5px;
        padding: 15px 40px;
        border: none;
        a{
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 28px;
          /* identical to box height, or 200% */
          
          text-align: center;
          letter-spacing: 0.2px;
          
          /* light-text-color */
          
          color: #FFFFFF;
          text-decoration: none;
        }
      }
    }
  }
  .footer__center{
    @media (min-width: 0) and (max-width: 767px){
      display: flex;
      flex-direction: column;
    }
    background: #16697A;
    display: flex;
    padding: 50px 195px;
    gap: 30px;
    .box{
      width: 152px;
      h6{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */
        margin: 0;
        
        letter-spacing: 0.1px;
        
        /* light-text-color */
        
        color: #FFFFFF;        
      }
      
      ul{
        padding: 0;
        margin: 0;
        margin-top: 20px;
        li{
          margin: 0;
          list-style: none;
          margin-bottom: 10px;
          a{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            /* identical to box height, or 171% */
            margin: 0;
            
            letter-spacing: 0.2px;
            
            /* light-text-color */
            
            color: #FFFFFF;
            text-decoration: none;            
          }
        }
      }
    }
    .box__links{
      width: 321px;
      // margin-left: 42px;
      h6{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */
        
        letter-spacing: 0.1px;
        
        /* light-text-color */
        
        color: #FFFFFF;        
      }
      img{
        width: 24px;
        height: 24px;
        margin-right: 10px;
        margin-bottom: 10px;
      }
      a{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
        
        letter-spacing: 0.2px;
        
        /* light-text-color */
        
        color: #FFFFFF;        
        margin: 0;
        margin-bottom: 10px;
      }
    }
  }
  .footer__bottom{
    @media (min-width: 0) and (max-width: 767px){
      display: flex;
      flex-direction: column;
    }
    display: flex;
    justify-content: space-between;
    padding: 25px 195px;
    .footer__bottom__left{
      h5{
        @media (min-width: 0) and (max-width: 767px){
          width: 231px;
          height: 48px;
          margin-bottom: 50px;
        }
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        /* identical to box height, or 171% */
        
        letter-spacing: 0.2px;
        
        /* second-text-color */
        
        color: #737373;        
      }
    }
    .footer__bottom__right{
      
      img{
       margin-right: 20px;
      }
    }
  }
}
}
